.about__images-list {
  display: grid;
  grid-template-columns: repeat(2, 660px);
  grid-template-rows: 430px 120px 430px;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 1360px;
}

@media screen and (max-width: 1439px) {
  .about__images-list {
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 590px);
    row-gap: 40px;
    column-gap: 0;
  }
}

